body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}
h1, h2, h3, .subheading {
    font-family: 'Courier New', Courier, monospace;

}
a:hover{
    color: blueviolet;
}
